#session {
  width: 100%;
  height: 100%;
  min-height: 750px;
  margin: 0 auto;
  position: relative;
  display: flex;

  border-radius: 30px;
  overflow: hidden;
}

/* 왼쪽 Main */
#Main {
  width: 100%;
  height: 100%;
  /* background-color: #000; */

  display: flex;
  flex-direction: column;
}

#session-header {
  position: relative;
  width: 100%;
  height: 50px;
  /* background-color: #bdbdbd; */

  border-bottom: 3px solid #9a9a9a;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#session-title {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 36px;
  font-weight: 700;
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#btnTotal > img {
  cursor: pointer;
  margin-left: 15px;
}

#video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  row-gap: 10px;
  column-gap: 10px;

  padding: 10px;
  margin: 10px;
  border: 3px solid #4fd1d9;
  border-radius: 15px;
}
@media (min-width: 1920px) {
  #video-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1250px) {
  #video-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 오른쪽 sidebar */
#Aside {
  /* flex-basis: 20%; */
  min-width: 400px;
  background-color: #d9d9d9;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#side-nav {
  height: 50px;
  line-height: 50px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, auto));
  text-align: center;
  border-bottom: 3px solid #9a9a9a;
}
#side-nav > a,
#side-nav > div {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  border-right: 1px solid #9a9a9a;
  cursor: pointer;
}
#side-nav > a:last-child {
  border: 0;
}

/* 사이드 컨텐츠 */
#AsideMain {
  width: 100%;
  height: calc(100% - 100px);
}
#aside-board {
  width: inherit;
  height: 100%;
  position: relative;
}
/* 하단 버튼 */
#button-bottom {
  height: 50px;
  line-height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#button-bottom > * {
  cursor: pointer;
  margin-left: 10px;
}
#buttonLeaveSession {
  position: absolute;
  top: 3px;
  right: 10px;
  background-color: #dc3545;
  padding: 7px 20px;
  border-radius: 15px;

  cursor: pointer;
}
#chat-container {
  /* position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 10; */
}
#toggleChat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #4fd1d9;
  padding: 9px 30px;
  border-radius: 30px;
  z-index: 99999;
}
