server:
  port: 8080

logging:
  level:
    com: debug

spring:
  messages:
    basename: messages
  devtools:
    livereload:
      enabled: true

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    hibernate:
      ddl-auto: none