@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#actor-info {
  border-style: solid;
  border-radius: 20px;
  border-color: black;
  border-width: medium;
  font-family: 'LINESeedKR-Bd';
}

.search-name {
  float: left;
  width: 25%;
}

.name-input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 80px;
  background-color: rgb(233, 233, 233);
}

.name-label {
  font-size: 30px;
}

.search-gender {
  float: left;
  width: 25%;
}
.gender-input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 80px;
  background-color: rgb(233, 233, 233);
}

.gender-label {
  font-size: 30px;
}

.search-age {
  float: left;
  width: 25%;
}
.age-input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 80px;
  background-color: rgb(233, 233, 233);
}

.age-label {
  font-size: 30px;
}

.search-height {
  float: left;
  width: 25%;
}
.height-input {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 80px;
  background-color: rgb(233, 233, 233);
}

.height-label {
  font-size: 30px;
}

.search-styles {
}

.style-label {
  font-size: 30px;
}

.style-check-label {
  font-size: 25px;
}

.style-checkbox ::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid gray;
}

.style-checkbox ::after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: blue;
}

.search-button {
  border-style: solid;
  border-color: black;
  border-width: medium;
  border-radius: 15px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  margin-left: 1200px;
  margin-bottom: 10px;
}
