@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#actor-search-info {
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(233, 233, 233);
  border-width: medium;
  font-family: 'LINESeedKR-Bd';
  padding-left: 80px;
  padding-top: 20px;
  margin-top: 10px;
  height: 240px;
}

.search-name {
  float: left;
  width: 25%;
}

.name-search-span {
  font-size: 20px;
}

.name-search-input {
  margin-left: 15px;
  width: 180px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.search-gender {
  float: left;
  width: 25%;
}

.gender-search-span {
  font-size: 20px;
}

.gender-search-input {
  margin-left: 15px;
  width: 200px;
  height: 40px;
  font-size: 23px;
  text-align: center;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.search-age {
  float: left;
  width: 25%;
}

.age-search-span {
  font-size: 20px;
}

.age-search-input {
  margin-left: 15px;
  width: 200px;
  height: 40px;
  font-size: 23px;
  text-align: center;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.search-height {
  float: left;
  width: 25%;
}

.height-search-span {
  font-size: 20px;
}
.height-search-input {
  margin-left: 15px;
  width: 200px;
  height: 40px;
  font-size: 23px;
  text-align: center;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.search-styles {
  float: left;
  margin-top: 13px;
}

.style-search-items-label {
  font-size: 18px;
}
.style-search-span {
  font-size: 20px;
}

.style-check-label {
  font-size: 25px;
}

.search-buttons {
  margin-left: 1250px;
  border: none;
  background-color: #7ea6f4;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
