@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

footer {
  font-family: 'LINESeedKR-Bd';
  color: white;
  background: rgba(68, 68, 68, 0.24);
}

footer .footer-container {
  max-width: 100%;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

footer .footer-container .footer-left {
  flex: 1;
  padding-left: 50px;
  padding-top: 28px;
}

footer .footer-container .footer-left h1 {
  margin: 0;
}

footer .footer-container .footer-left p {
  margin-top: 5px;
  font-size: 12px;
}

footer .footer-container .footer-left .sns {
  margin-top: 30px;
}

footer .footer-container .footer-left .sns i {
  font-size: 24px;
  margin-right: 20px;
}

footer .footer-container .footer-right {
  flex: 3;
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-container .footer-right .footer-list {
  flex: 1;
  margin-left: 20px;
}

footer .footer-container .footer-right .footer-list h2 {
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

footer .footer-container .footer-right .footer-list ul {
  list-style: none;
  padding: 0;
}

footer .footer-container .footer-right .footer-list ul li {
  padding: 5px 5px;
}

footer .footer-container .footer-right .footer-list ul li:hover {
  background: #222;
}

footer .copy-right {
  padding-left: 50px;
  padding-right: 20px;
}

footer .copy-right img {
  width: 120px;
  height: 120px;
}

footer .copy-right p {
  font-size: 15px;
  margin: 0;
}
