

.footer-body {
    width: 100%;
    height: 100px;
    display: flex;
    position: relative; (absolute -> relative)
    transform: translatY(-100%);
    bottom: 0;
    left: 0;
    justify-content: space-between;
}

.footer-logo {
    width: 120px;
    display: block;
}

.footer-right {
    position: relative;
    margin-top: 50px;
    bottom: 8px;
    right: 50px;
    font-size: 16px;
}

.footer-left {
    margin-left: 50px;
    margin-bottom: 30px;
}