@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#main-navbar {
  font-family: 'LINESeedKR-Bd';
  max-width: 100% !important;
}

.main-container {
  max-width: 100% !important;
  padding-right: 30px;
  padding-left: 10px;
}

.header-logo {
  width: 280px;
  object-fit: cover;
}

.header-top {
  flex-flow: row !important;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}

.header-top-right {
  width: 200px;
  display: flex;
  margin-top: 35px;
  justify-content: flex-end;
}

.header-bottom {
  margin-left: 30px;
}

.header-line {
  max-width: 100%;
  height: 3px;
  background: #7ea6f4;
  border: 0;
  margin: 0;
  margin-top: 10px;
}

.nav-item {
  font-size: 18px;
}
