.header-main {
  flex-flow: column;
}

.header-logo {
  width: 250px;
  object-fit: cover;
}

.header-top {
  flex-flow: row !important;
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
}

.header-top-right {
  width: 200px;
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.header-bottom {
  margin-top: 20px;
  margin-left: 30px;
}

.main-container {
  max-width: 100% !important;
}

.header-line {
  width: 100%;

  height: 5px;

  background: #7ea6f4;

  border: 0;
}
