.notice-body {
    width: 40%;
    font-size: 16px;
    word-break: keep-all;
}

.notice-text {
    transform: translateX(80%);
}

.notice-text span {
    font-size: 14px;
    color: #5a5a5a;
    display: block;
}

.notice-button {
}

.notice-button .why {
    width: 250px;
    font-size: 14px;
    display: inline-block;
}