.actor-filmo-whole {
  padding: 30px;
  width: 100%;
  height: 300px;
  display: flex;
}

/*.actor-photo-main {*/
/*    flex:1;*/
/*}*/
.actor-filmo-main > img {
  aspect-ratio: 1;
  max-width: 250px;
  max-height: 250px;
}

.actor-filmo {
  flex: 2;
  display: inline-block;
}

.actor-filmo img {
  border-radius: 10px;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.file-box {
  display: inline-block;
}

.file-box label {
}

.file-box input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  display: none;
}
