.sr-only {
  position: absolute;
  left: -9999px;
}

#open-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.open-room__search {
  min-width: 1448px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #e8eaec;
}

/* open-room__search */
.open-room__search .search__info {
  display: flex;
  flex-direction: column;
}

.search__info strong {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}

.search__info small {
  font-weight: 500;
  font-size: 14px;
  color: #484848;
}

.search__input {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.search__input input {
  width: 55vw;
  height: 52px;

  background-color: #ffffff;
  border: 1px solid #e8eaec;
  border-radius: 26px;
  padding-left: 20px;
}
.search__input input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #9a9a9a;
}

.search__input button {
  margin-left: -52px;

  width: 55px;
  height: 55px;
  background-color: #9a9a9a;

  border-radius: 50%;
  border-style: none;

  text-align: center;
  cursor: pointer;
}

.search__input button > img {
  vertical-align: middle;
}
/* 여기까지 open-room__search */

/* open-room__module */
.open-room__module {
  box-sizing: border-box;
  min-width: 1256px;
  margin: 60px 80px;

  display: flex;
  flex-direction: column;
}

.open-room__module .module__header {
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.module__header .header__tags {
  display: inline-block;
}

.header__tags li {
  display: inline-block;
  padding-bottom: 9px;
  cursor: pointer;
  font-size: 16px;
}

.header__tags li.active {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.header__tags li + li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  margin: 0px 15px -1px 15px;
  background-color: #bdbdbd;
}

.module__header .header__link {
  display: inline-block;

  text-align: center;
  line-height: 47px;
  font-size: 16px;
  font-weight: 700;

  width: 147px;
  height: 47px;

  background: #ffffff;
  border: 1px solid #9a9a9a;
  border-radius: 15px;

  cursor: pointer;
}

.module__header .header__filter {
  margin-left: 21px;
  width: 147px;
  height: 47px;

  font-size: 14px;
  line-height: 47px;

  background: #ffffff;
  border: 1px solid #9a9a9a;
  border-radius: 15px;

  cursor: pointer;
}

.header__filter img {
  vertical-align: middle;
}

.rooms__whole {
  display: grid;
  grid-template-columns: repeat(3, 329px);
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

.open-room__module #more-btn {
  margin: 20px auto;
  width: 146px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #9a9a9a;
  border-radius: 24px;

  font-weight: 600;
  font-size: 14px;
  line-height: 48px;

  color: #484848;

  cursor: pointer;
}

#more-btn img {
  margin-right: 10px;
  margin-left: -20px;
}
