.maker_container{
    display:flex;
    flex-direction: row;
    flex-wrap : wrap;
    width: 100%;
    margin-top: 10%;
}
.maker{
    width:25%;
    height: 100%;
    margin-bottom : 4%;
    margin-right: 4%;
    margin-left: 4%;
    border: 1px solid #D2E1FF;
    border-radius: 20px;
}
.maker_img{
    max-width:95%;
    max-height:100%;
    text-align: center;
}
.maker_title{
    font-size : 1.3rem;
    font-weight: 600;
    margin : 4%;
    text-align: center;
}
.maker_des{
    font-size : 0.8rem;
    margin : 2% 3% 2% 4%;
    text-align: center;
}
.maker_bar {
    display: block;
    text-align: center;
    padding: 20%;
}
