@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#maker-detail-whole {
  font-family: 'LINESeedKR-Bd';
  padding-left: 150px;
  padding-top: 50px;
}

.maker-detail-title {
  font-size: 40px;
}

.maker-image-section {
  font-size: 25px;
}

.maker-first-image {
  width: 400px;
  height: 400px;
}

.maker-name {
  font-size: 25px;
}

.maker-description {
  font-size: 25px;
}
