.list-container {
    padding: 30px;
    width: 100%;
    height: 300px;
    display: flex;

}

.photo-main {
    flex:1;
}
.photo-main > img {aspect-ratio: 1; max-width: 250px; max-height: 250px; }

.photo-list {
    flex: 2;
    display: inline-block;

}
.photo{
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.photo > img {
    max-width: 125px;
    max-height: 125px;
    aspect-ratio: 1;
}

img {
    border-radius: 10px;
}