@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#login-whole {
  font-family: 'LINESeedKR-Bd';
  text-align: center;
  align-items: center;
}

.login-content {
  width: 100%;
  display: inline-block;
  margin-top: 100px;
  vertical-align: middle;
  position: relative;
}

.login-content p {
  font-size: 18px;
  color: #444444;
}

.login-title {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.71);
}

#social-login {
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.google-login {
  margin-bottom: 20px;
}

.naver-login {
  margin-bottom: 20px;
}

.naver-login img {
  width: 382px;
  height: 92px;
}

.kakao-login img {
  width: 382px;
  height: 92px;
}
