.login-container {
  text-align: center;
}

.login-content {
  background: #fff;
  box-shadow: 0 1px 5px rgba(126, 166, 244, 0.47);
  border-radius: 2px;
  width: 800px;
  height: 600px;
  display: inline-block;
  margin-top: 30px;
  vertical-align: middle;
  position: relative;
  padding: 35px;
}

.social-btn {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
}

.social-btn img {
  height: 60px;
  float: left;
  margin-top: 10px;
}

.social-btn.google img {
  margin-top: 7px;
  width: 230px;
  height: 70px;
  margin-bottom: 60px;
}

.social-btn.naver img {
  margin-top: 7px;
  margin-bottom: 60px;
}

.social-btn.kakao img {
  margin-top: 7px;
  width: 230px;
  margin-bottom: 60px;
}

.login-title {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.71);
}
