#borders {
  min-width: 250px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#clock {
  margin-top: 30px;
  flex-basis: 30%;
  text-align: center;
}
#study-time__title {
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}
#study-time__time {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

#study-rule {
  flex-basis: 70%;
  padding-top: 20px;
  text-align: center;
}
#study-rule__title {
  font-size: 24px;
  font-weight: 400;
}

#study-rule__error {
  font-size: 20px;
  line-height: 30px;
  margin-top: 40px;
}

.study-rule__error-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.study-rule__error-item > * {
  display: inline-block;
}
