@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#actor-list-main {
  font-family: 'LINESeedKR-Bd';
  padding-top: 50px;
}

.actor-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.h-100 {
  border: 1px solid #eee;
  border-radius: 5px;
  height: 350px;
  margin-bottom: 0;
}
.actor-list-img {
  height: 200px;
}

.card-title {
  color: black;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.card-text p {
  color: black;
}

.card-info {
  margin-right: auto;
  align-items: center;
}

.card-info span {
  color: black;
  display: flow-root;
  margin-bottom: 5px;
  font-size: 18px;
}

.card-info > span:nth-of-type(2n - 1) {
  width: 60%;
}

.card-info > span:nth-of-type(2n) {
  width: 40%;
}

.card-info p {
  margin-bottom: 2px;
}

.card-info-style {
  display: flex;
  flex-wrap: wrap;
}

.card-info-style span {
  margin-right: 5px;
}

.actor-list-button {
  background: rgba(68, 68, 68, 0.5);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.5s ease;
}

.actor-list-button:hover {
  transition: 0.5s ease;
  border: 2px solid black;
  background: transparent;
  color: black;
}
.actor-insert-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1250px;
}
