@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#actor-list-main {
  font-family: 'LINESeedKR-Bd';
  padding-top: 50px;
}

.actor_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10%;
}

.actor {
  width: 25%;
  height: 100%;
  margin-bottom: 4%;
  margin-right: 4%;
  margin-left: 4%;
  border: 1px solid #d2e1ff;
  border-radius: 20px;
}

.actor_img {
  max-width: 95%;
  max-height: 100%;
  text-align: center;
}

.actor_title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 4%;
  text-align: center;
}

.actor_des {
  font-size: 0.8rem;
  margin: 2% 3% 2% 4%;
  text-align: center;
}

.page_bar {
  display: block;
  text-align: center;
  padding: 20%;
}

.actor-write-button {
  bottom: 10px;
  right: 10px;
}

.actor-body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  color: black;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}

.card-info {
  width: 90%;
  margin-left: 20px;
  margin-right: auto;
}

.card-info span {
  text-align: left;
  display: inline-block;
  margin-bottom: 5px;
}

.card-info > span:nth-of-type(2n - 1) {
  width: 60%;
}

.card-info > span:nth-of-type(2n) {
  width: 40%;
}

.card-info p {
  margin-bottom: 2px;
}

.card-info-style {
  display: flex;
  flex-wrap: wrap;
}

.card-info-style span {
  margin-right: 5px;
}
