@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

#announcement-list {
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.593);
  border-width: 0.1rem;
  font-family: 'LINESeedKR-Bd';
  margin: 2rem;
  margin-left: 7rem;
  margin-right: 7rem;
  padding: 1.5rem;
}

.title-text {
  font-size: larger;
  text-decoration-color: black;
}

.casting-text {
  font-size: medium;
}

.style-checkbox ::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid gray;
}

.style-checkbox ::after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: blue;
}

/* Search bar */

#announcement-search-info {
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(233, 233, 233);
  border-width: 0.2rem;
  font-family: 'LINESeedKR-Bd';
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 10rem;
}

.search-title {
  float: left;
  width: 25%;
}

.text-search-span {
  font-size: 20px;
}

.text-search-input {
  margin-left: 1rem;
  width: 10rem;
  height: 2rem;
  font-size: 18px;
  font-weight: 10;
  text-align: center;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.gender-search-input {
  margin-left: 151remx;
  width: 7rem;
  height: 2rem;
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.number-search-input {
  margin-left: 1rem;
  width: 7rem;
  height: 2rem;
  font-size: 18px;
  font-weight: 10;
  text-align: center;
  border: 0;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
}

.search-age {
  float: left;
  width: 25%;
}

.search-height {
  float: left;
  width: 25%;
}

.search-styles {
  float: left;
  margin-top: 2rem;
}

.style-checkbox {
  border: 1px solid gray;
  margin-left: 0.5rem;
}

.style-search-items-label {
  font-size: 17px;
  margin-right: 0rem;
}
.style-search-span {
  font-size: 20px;
}

.search-buttons {
  margin-left: 2rem;
  border: none;
  background-color: #7ea6f4;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.search-button-text {
  font-size: 20px;
  font-family: 'LINESeedKR-Bd';
}

/* 원래 있던 것 _ 안쓸듯?? */
